<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".BasicActivity" />
        <activity android:name=".gadgetActivity"/>
        <activity android:name=".gadget.washobject"/>
        <activity android:name=".gadget.laptopobject"/>
        <activity android:name=".gadget.computerobject"/>
        <activity android:name=".gadget.calculatorobject"/>
        <activity android:name=".ScienceActivity" />
        <activity android:name=".numberActivity" />
        <activity android:name=".number.zeroobject" />
        <activity android:name=".number.oneobject" />
        <activity android:name=".number.twoobject" />
        <activity android:name=".number.threeobject" />
        <activity android:name=".number.fourobject" />
        <activity android:name=".number.fiveobject" />
        <activity android:name=".number.sixobject" />
        <activity android:name=".number.sevenobject" />
        <activity android:name=".number.eightobject" />
        <activity android:name=".number.nineobject" />
        <activity android:name=".alphabetActivity" />
        <activity android:name=".alphabet.aobject" />
        <activity android:name=".alphabet.bobject" />
        <activity android:name=".alphabet.cobject" />
        <activity android:name=".alphabet.dobject" />
        <activity android:name=".alphabet.eobject" />
        <activity android:name=".alphabet.fobject" />
        <activity android:name=".alphabet.gobject" />
        <activity android:name=".alphabet.hobject" />
        <activity android:name=".alphabet.iobject" />
        <activity android:name=".alphabet.jobject" />
        <activity android:name=".alphabet.kobject" />
        <activity android:name=".alphabet.lobject" />
        <activity android:name=".alphabet.mobject" />
        <activity android:name=".alphabet.nobject" />
        <activity android:name=".alphabet.oobject" />
        <activity android:name=".alphabet.pobject" />
        <activity android:name=".alphabet.qobject" />
        <activity android:name=".alphabet.robject" />
        <activity android:name=".alphabet.sobject" />
        <activity android:name=".alphabet.tobject" />
        <activity android:name=".alphabet.uobject" />
        <activity android:name=".alphabet.vobject" />
        <activity android:name=".alphabet.wobject" />
        <activity android:name=".alphabet.xobject" />
        <activity android:name=".alphabet.yobject" />
        <activity android:name=".alphabet.zobject" />
        <activity android:name=".animalActivity" />
        <activity android:name=".animal.horseobject" />
        <activity android:name=".vehicleActivity" />
        <activity android:name=".vehicle.rixaobject" />
        <activity android:name=".vehicle.truckobject" />
        <activity android:name=".vehicle.trainobject" />
        <activity android:name=".vehicle.planeobject" />
        <activity android:name=".vehicle.boatobject" />
        <activity android:name=".vehicle.cycleobject" />
        <activity android:name=".vehicle.bikeobject" />
        <activity android:name=".vehicle.carobject" />
        <activity android:name=".bodypartActivity" />
        <activity android:name=".bodyparts.eyeobject" />
        <activity android:name=".bodyparts.skeletonobject" />
        <activity android:name=".bodyparts.handobject" />
        <activity android:name=".bodyparts.heartobject" />
    </application>

</manifest>